@model List<NhaSachPN.Models.Favourite>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="main p-3 text-center" style="border: 1px solid #cdcdcd">
    <h4 class="text-start bg-secondary p-3 text-white" >Yêu thích</h4>
    @if (Model.Count > 0)
    {
        <div class="row mt-3">
            <h5 class="col-md-6">Sản phẩm</h5>
            <h5 class="col-md-6">Giá</h5>
            @foreach (var item in Model)
            {
                <hr>
                <div class="row col-md-6">
                    <div class="col-md-6">
                        <button class="btn btn-danger">
                            <a class="text-white text-decoration-none" href="/Favourite/Delete/@item.ID">X</a>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <img class="w-50" src="@item.Product.Image" alt="">
                    </div>
                    <div class="col-md-12 text-center p-3">
                        <h6>@item.Product.ProductName</h6>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-danger">@item.Product.Price</p>
                </div>
            }
        </div>
    }
    else
    {
        <h6 class="text-center">Bạn chưa thích sản phẩm nào</h6>
    }
</div>

