@model List<NhaSachPN.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Product</h2>
<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.ProductID</td>
                    <td>@item.ProductName</td>
                </tr>
            }
</table>

